html,
body {
  font-family: 'Open Sans';
}

.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

#navigation {
  border: 1px solid skyblue;

  height: 70px;

  margin: 25px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#navigation button {
  margin-right: 1rem;
  border-radius: 7px;
  padding: 5px;
  width: 20%;
}

#slide {
  border: 2px solid skyblue;
  margin: 25px;
}
.container {
  border: 3px solid skyblue;
}
.title {
  border: 1px solid skyblue;
  margin: 25px;
  text-align: center;
}
.img-container {
  /* border: 1px solid skyblue; */
  margin: 25px;
}
.img-container img {
  width: 100%;
  height: 160px;
}
